:root {
    --primary: #2977ff;
    --secondary: #ddf0ff;
    --white: #f5f5f5;
}

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

nav {
    background-color: var(--primary);
    color: var(--white);
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 1em 0.7em;
}

h1, h2 {
    margin: 0;
}

header {
    background-color: var(--primary);
}

header .container {
    display: flex;
}

header address {
    font-style: normal;
}

header a {
    color: inherit;
}

header p {
    margin: 0;
}

header h2 {
    margin-bottom: 0.7em;
}

header .left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    background-image: url('img/pexels-pixabay-270348.jpg');
    background-size: cover;
    color: var(--white);
    text-shadow: 1px 1px 0 black;
}

header .right {
    padding: 2em;
    color: var(--white);
    text-align: center;
}

header .right img {
    width: 100px;
    background-color: var(--white);
    border-radius: 50%;
}

section {
    padding: 2em;
}

#section-1 {
    background-color: var(--secondary);
}

#section-2 .container {
    display: flex;
}

#section-2 .container > div {
    flex-grow: 1;
}

#section-3 table {
    width: 100%;
}

#section-3 th {
    width: 20%;
    text-align: right;
    padding-right: 0.5em;
}

#section-3 progress {
    width: 100%;
}

@media screen and (max-width: 600px) {
    nav ul,
    header .container,
    #section-2 {
        flex-direction: column;
    }
    nav ul li a {
        padding: 0.4em 0.5em;
    }
    header .right {
        background-color: var(--secondary);
        color: black;
    }
}